body {
	background:black;
  width:100%;
  margin:0px;
}

#container{

  position:relative;
  width:90%;
  height:1000px;
  margin:30px auto;
  overflow:hidden;
}
canvas{display:none;}
video{
 margin-top:-300px;
 width:100%;
 height:1300px;
}


/*
    body {
      padding-top: 100px; margin: 0; position:relative;width:100%;
      }

    canvas {
      vertical-align: top;
      width: 100%;
    } 

    .countdownGif {
       width:640px;      
       height: 400px;
       position:absolute;
       margin-right: auto;
       margin-left: auto;
       left:0px;
       right:0px;


 
      text-align: center;
      z-index: 1000;
      display: hidden;
      background: url("assets/countdown3.png") center no-repeat;

    }

    .loadingText {
       width:640px;      
       height: 400px;
       position:absolute;
       margin-right: auto;
       margin-left: auto;
       left:0px;
       right:0px;


 
      text-align: center;
      z-index: 1000;
      display: hidden;
      background: url("assets/loadingText04.gif") center no-repeat;

    }

    #info_link{
      position:absolute;
      bottom:0px;
      right:6px;
    }
    /*#info img{
      width:50px;
      height:50px;
    }*/
    canvas {
      width:640px;
      margin-right: auto;
      margin-left: auto;
      display: block;

    }
    .container{
      width:640px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      text-align: center;
    }



    .firstImage{
      width:640px;
      position:absolute;
      margin-right: auto;
       margin-left: auto;
       top:100px;
       left:0px;
       right:0px;
      z-index: 1001

    }*/
