body {
	background:black;
  width:100%;
  margin:0px;
}

.container{
  position:relative;
  width:100%;
  height:100%;
  margin:200px auto;
  -webkit-transform: rotate(90deg);
  text-align: center;
}
.button{
  margin-top:200px;
}
#canvas{
  opacity:0;
  position:relative;
  width:100%;
  height:100%;
}
.compare.container{
  display:none;
  -webkit-transform: rotate(-90deg);
}
.loading {
  display: none;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 400px;
  background-repeat: no-repeat;
  z-index: 1000;
  -webkit-transform: rotate(-90deg);
}

video{
  position:relative;
  width:100%;
  height:100%;
}
.compare.container img{
    height: 100%;
    width: 100%;
}

/*
    body {
      padding-top: 100px; margin: 0; position:relative;width:100%;
      }

    canvas {
      vertical-align: top;
      width: 100%;
    } 

    .countdownGif {
       width:640px;      
       height: 400px;
       position:absolute;
       margin-right: auto;
       margin-left: auto;
       left:0px;
       right:0px;


 
      text-align: center;
      z-index: 1000;
      display: hidden;
      background: url("assets/countdown3.png") center no-repeat;

    }

    .loadingText {
       width:640px;      
       height: 400px;
       position:absolute;
       margin-right: auto;
       margin-left: auto;
       left:0px;
       right:0px;


 
      text-align: center;
      z-index: 1000;
      display: hidden;
      background: url("assets/loadingText04.gif") center no-repeat;

    }

    #info_link{
      position:absolute;
      bottom:0px;
      right:6px;
    }
    /*#info img{
      width:50px;
      height:50px;
    }*/

